@if(_showError){
    <div class="row">
        <div class="col-12" style="margin-left: 5px;">
            <span style="background-color: red; color: white;">Error: {{_errorMessage}}</span>
        </div>
    </div>
}
<div class="container">
    <div id="video-grid">
        <video class="overlay" id="localVideo" autoplay muted>
        </video>
        <video class="background" id="remoteVideo" autoplay>
        </video>
    </div>
</div>    

@if(_callStarted) {
    <br />
    <div class="row">
        <div class="col-12" style="margin-left: 5px;">
            <input type="file" (change)="onFileSelected($event)" />
        </div>
    </div>
}

@if(_callStarted) {
    <div class="row">
        <div class="col-12" style="margin-left: 5px;">
            <textarea rows="5" #localChat style="width:400px;">
            </textarea>
        </div>            
    </div>
    <div class="row">
        <div class="col-12" style="margin-left: 5px; width:400px;">
            <button style="width: 400px;" [disabled]="!_callStarted" (click)="sendMessage()">Send Message</button>
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col-12" style="margin-left: 5px;">
            <textarea rows="5" #remoteChat style="width:400px;">
            </textarea>
        </div>
    </div>
    <br />
}

@if (_inviteAccepted) {
    <br />
    <div class="row">
        <div class="col-12" style="margin-left: 5px;">
            <span style="background-color: green; color: white;">Invite accepted.</span>
        </div>
    </div>
}
@if (this.myUserType == userType.Local)
{
    <div class="row" style="margin-top: 10px; margin-left: 5px;">
        <div class="col-lg-3 col-md-3 col-sm-12">
            <button [disabled]="_inviteSent" style="width: 90%;height:50px;" (click)="inviteAll()">Invite</button>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-12">
            <button [disabled]="_disableStartCall" style="width: 90%;height:50px;" (click)="startCall()">Start Call</button>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-12">
            <button [disabled]="!_callStarted" style="width: 90%;height:50px;" (click)="switchMe()">{{_isScreenShare ? "To Video" : "To Screen"}}</button>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-12">
            <button [disabled]="!_callStarted" style="width: 100%;height:50px;" (click)="startStopRecording()">{{_isRecordingStarted ? "Stop Recording" : "Start Recording"}}</button>
        </div>        
    </div>
    <div class="row" style="margin-top: 10px; margin-left: 5px;">
        <div class="col-lg-4 col-md-4 col-sm-12">
            <button [disabled]="!_callStarted" style="width: 90%;height:50px;" (click)="toggleAudio()">{{_isMute ? "Unmute" : "Mute"}}</button>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-12">
            <button [disabled]="!_callStarted || _isScreenShare" style="width: 90%;height:50px;" (click)="toggleVideo()">{{_isVideoStopped ? "Start Video" : "Stop Video"}}</button>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-12">
            <button [disabled]="!_callStarted" style="width: 90%;height:50px;" (click)="endCall()">End Call</button>
        </div>
    </div>
}
@else 
{
    <div class="row" style="margin-top: 10px; margin-left: 5px;">
        <div class="col-lg-4 col-md-4 col-sm-12">
            <button [disabled]="!_callStarted" style="width: 90%;height:50px;" (click)="toggleAudio()">{{_isMute ? "Unmute" : "Mute"}}</button>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-12">
            <button [disabled]="!_callStarted" style="width: 90%;height:50px;" (click)="toggleVideo()">{{_isVideoStopped ? "Start Video" : "Stop Video"}}</button>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-12">
            <button (click)="endCall()" style="width: 90%;height:50px;">End Call</button>
        </div>
    </div>
}